{% extends 'base.html'%}
{%load filters%}
{% block content%}
            <!-- Main Section Start -->
			<div class="main-section pt-5">
				<div class="page-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<div class="tabs-holder horizontal">
									<ul class="stickynav-tabs nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text"></i>Review your Billing address</a></li>
										
									</ul>
									<div class="tab-content">
										<div id="home" class="tab-pane in active">
											<div class="menu-itam-holder">
                                                <div class="text-center p-5" id="empty-cart" style="display:none"><h3>No items in the cart</h3></div>
                                                <div id="menu-item-list-6272" class="menu-itam-list">
                                                    <div class="billing-address">
														<div>
															<div><b>{{order.name}}</b></div>
															<div>{{order.address}}</b></div>
															<div>{{order.city}} &nbsp;{{order.postcode}}</b></div>
															<div>{{order.country}}</div>
															<div>Phone number: <b>{{ order.phone}}</b></div>
															<div>Email: <b>{{ order.email}}</b></div>
															<div>Payment method: <b>{{ order.payment_method}}</b></div>
															<br>
															<div><a href="{% url 'checkout' %}" class="btn btn-outline-danger">Edit</a></div>
															<br>
														</div>
													</div>
												
												 </div>
											</div>
                                            <form id="payment-form">
                                                <!-- placeholder for Elements -->
                                               <div id="payment-element">

                                               </div>
                                               <!-- We'll put the error messages in this element -->
                                               <div id="card-errors" role="alert"></div>
                                               <div>
                                                    <button id="payment-button" 
                                                            data-secret="{{ client_secret }}" 
                                                            data-order-complete-url="{% url 'orderComplete'%}"  
                                                                type="submit">
                                                            <div class="spinner hidden" id="spinner"></div>
                                                            <span id="button-text">Submit Payment</span>
                                                        </button>
                                                </div>
                                                <div id="error-message"></div>
                                             </form>
										</div>
									</div>
								</div>
							</div>
							<!-- Your order section-->
                            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
								<div class="tabs-holder horizontal">
									<ul class="stickynav-tabs nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
									</ul>
									<div class="tab-content">
										<div id="home" class="tab-pane in active">
    										<div class="menu-itam-holder">
												<div>
													<table class="table">
														<tbody>
															{% for item in cart_items%}
															<tr>
																<td><img src="{{item.foodItem.image.url}}" width="40" /></td>
																<td><b>{{item.foodItem}}</b></td>
																<td>{{item.quantity}}</td>
																<td>{{item.foodItem.price | currency}}</td>
															</tr>	
															{% endfor %}
														</tbody>	
													</table>	
												</div>
                                                <div>
                                                    <ul>
                                                        <li style="list-style-type: none;">
                                                            Subtotal
                                                            <span class="price float-right">
                                                                <span id="subtotal">{{subtotal | currency}}</span>
                                                            </span>
                                                        </li>
                                                        {% for key, value in tax_dictionary.items%}
                                                            {% for i, j in value.items%}
                                                                <li style="list-style-type: none;">
                                                                    {{key}}<small>({{i}}%)</small>
                                                                    <span class="price float-right">
                                                                        <span id="tax-{{key}}">{{j | currency}}</span>
                                                                    </span>
                                                                </li>
                                                            {% endfor %}
                                                        {%endfor%}    
                                                        <li style="list-style-type: none; font-weight:600">
                                                            Total
                                                            <span class="price float-right">
                                                                <span id="grandtotal">{{grand_total | currency}}</span>
                                                            </span>
                                                        </li>
                                                        
                                                      

                                                        {% comment %} <a href="{% url 'checkout' %}" class="btn btn-danger w-100 p-2 mt-2">Proceed to Checkout</a> {% endcomment %}
                                                    </ul>
                                                </div>   
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Main Section End -->
		
			
{%endblock%}